.grid-container {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.grid-cell {
    width: 100px;
    height: 100px;
    margin: 5px;
    line-height: 90px;
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    font-family: "Clear Sans";
    color: #766;
    background-color: #dcb;
}

.num-cell {
    width: 100px;
    height: 100px;
    margin: 5px;
    line-height: 90px;
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    font-family: "Clear Sans";
    color: #766;
    position: absolute;
    /*-webkit-transition:all 5s ease-in-out;*/

}

.container {
    width: 440px;
    height: 440px;
    padding: 5px;
    background-color: #baa;
    border-radius: 7px;
    outline: none;
    position: relative;
    margin: 100px auto;
}

.cell-new {
    webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-name: newTile;
    animation-name: newTile;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

@-webkit-keyframes newTile {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes newTile {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
